name: rolls_royce_ai
description: A car dealership app with AI-powered car comparison

publish_to: "none" # Prevent publishing to pub.dev

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
